body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 12px; /* Set global font size to 12px */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4ba2ff;
    color: #fff;
    padding: 10px 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 12px; /* Set nav link font size to 12px */
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #cce5ff;
}

/* Dropdown Menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #5aaaff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    text-align: left;
    padding: 12px 2px;
}

.dropdown-content li a {
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
